/*general*/
#hacf-jumbo {
	background: url("../images/haltandcatchfire_header.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: auto;
	padding: 8%;
}

#heading {
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	color: whitesmoke
}

#content {
	font-family: 'Source Code Pro', monospace;
	font-size: 25px;
	font-weight: bold;
}

.questionX {
	font-family: 'Source Code Pro', monospace;
	font-size: 50px;
	font-weight: bold;
}

#responses {
	font-family: 'Source Code Pro', monospace;
	font-size: 25px;
	text-align: justify;
	font-weight: bold;
}

.well {
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
}

#submit {
	font-family: 'Source Code Pro', monospace;
}

/*spacing b/w radio buttons*/
.twd-opt {
	margin-right: 20px;
}

/*footer*/
/* .footer {
	padding: 30px 0;
	text-align: right;
} */
